# This .env file will be created on the server for your BACKEND app

# --- Database Details (from secrets.yml) ---
DB_HOST={{ db_host }}
DB_USER={{ db_user }}
DB_PASS={{ db_pass }}
DB_NAME={{ db_name }}
DB_PORT={{ db_port }}

# --- App Secrets (from secrets.yml) ---
SECRET_KEY={{ secret_key }}

# --- AWS Credentials (from secrets.yml) ---
AWS_ACCESS_KEY_ID={{ aws_access_key_id }}
AWS_SECRET_ACCESS_KEY={{ aws_secret_access_key }}
AWS_REGION={{ aws_region }}
S3_BUCKET={{ s3_bucket }}

# --- Networking (Dynamic variables) ---
# This tells the backend what port to run on
PORT=8800 

FRONTEND_URL=http://{{ ansible_default_ipv4.address }}:8080
