---
- name: Setup NRPE Agent on App Server
  hosts: app_server
  become: yes

  tasks:
    - name: Install NRPE & Nagios Plugins
      apt:
        name:
          - nagios-nrpe-server
          - nagios-plugins
        update_cache: yes
        state: present

    - name: Allow Mgmt Server to Query NRPE
      lineinfile:
        path: /etc/nagios/nrpe.cfg
        regexp: "^allowed_hosts="
        line: "allowed_hosts=127.0.0.1, {{ hostvars[groups['mgmt_server'][0]].inventory_hostname }}"

    - name: Add custom health check for backend API
      blockinfile:
        path: /etc/nagios/nrpe.cfg
        block: |
          command[check_api]=/usr/lib/nagios/plugins/check_http -I 127.0.0.1 -p 8800 -u /

    - name: Restart NRPE
      service:
        name: nagios-nrpe-server
        state: restarted
        enabled: yes
