---
- name: Install Nagios Core on Management Server
  hosts: mgmt_server
  become: yes

  tasks:
    - name: Install dependencies
      apt:
        update_cache: yes
        state: present
        name:
          - autoconf
          - gcc
          - libc6
          - make
          - wget
          - unzip
          - apache2
          - php
          - libapache2-mod-php
          - libgd-dev
          - build-essential
          - libssl-dev
          - libmcrypt-dev
          - bc
          - gawk
          - dc
          - snmp
          - libnet-snmp-perl
          - gettext
          - apache2-utils
          - nagios-nrpe-plugin

    - name: Download Nagios
      get_url:
        url: "https://assets.nagios.com/downloads/nagioscore/releases/nagios-4.4.6.tar.gz"
        dest: /tmp/nagios.tar.gz

    - name: Extract Nagios
      unarchive:
        src: /tmp/nagios.tar.gz
        dest: /tmp/
        remote_src: yes

    - name: Configure Nagios
      command: ./configure --with-httpd-conf=/etc/apache2/sites-enabled
      args:
        chdir: /tmp/nagios-4.4.6
        creates: /tmp/nagios-4.4.6/Makefile

    - name: Compile Nagios
      command: make all
      args:
        chdir: /tmp/nagios-4.4.6

    - name: Create Nagios group
      group:
        name: nagios
        state: present

    - name: Create Nagios user and assign to group
      user:
        name: nagios
        group: nagios
        home: /usr/local/nagios
        shell: /bin/false
        state: present

    - name: Install Nagios Core
      command: make install
      args:
        chdir: /tmp/nagios-4.4.6

    - name: Install Nagios configuration files
      command: make install-config
      args:
        chdir: /tmp/nagios-4.4.6

    - name: Install Nagios web config
      command: make install-webconf
      args:
        chdir: /tmp/nagios-4.4.6

    - name: Set correct ownership on Nagios config files
      file:
        path: /usr/local/nagios/etc
        owner: nagios
        group: nagios
        recurse: yes
        state: directory

    - name: Install Nagios service script (init/systemd)
      command: make install-init
      args:
        chdir: /tmp/nagios-4.4.6

    - name: Reload systemd daemon
      systemd:
        daemon_reload: yes

    - name: Enable Apache CGI module
      command: a2enmod cgi
      notify: Restart Apache

    - name: Set Nagios admin password
      command: htpasswd -b -c /usr/local/nagios/etc/htpasswd.users nagiosadmin admin

    - name: Create directory for server configs
      file:
        path: /usr/local/nagios/etc/servers
        state: directory
        owner: nagios
        group: nagios

    - name: Enable folder in nagios.cfg
      lineinfile:
        path: /usr/local/nagios/etc/nagios.cfg
        line: "cfg_dir=/usr/local/nagios/etc/servers"
        insertafter: EOF

    - name: Add NRPE command definition
      blockinfile:
        path: /usr/local/nagios/etc/objects/commands.cfg
        marker: "# {mark} ANSIBLE MANAGED BLOCK - check_nrpe"
        block: |
          define command {
              command_name    check_nrpe
              command_line    $USER1$/check_nrpe -H $HOSTADDRESS$ -c $ARG1$
          }

    - name: Allow external access to Nagios Web UI
      lineinfile:
        path: /etc/apache2/sites-enabled/nagios.conf
        regexp: '^\s*Require local'
        line: "    Require all granted"
      notify: Restart Apache

    - name: Generate App Server config
      template:
        src: "app_server.cfg.j2"
        dest: "/usr/local/nagios/etc/servers/app_server.cfg"
      notify: Verify and Restart Nagios

    - name: Verify Nagios configuration
      command: /usr/local/nagios/bin/nagios -v /usr/local/nagios/etc/nagios.cfg

    - name: Start and enable Nagios
      systemd:
        name: nagios
        state: started
        enabled: yes

    - name: Start and enable Apache
      systemd:
        name: apache2
        state: started
        enabled: yes

  handlers:
    - name: Restart Apache
      block:
        - name: Validate Apache configuration
          command: apachectl configtest
        - name: Restart Apache service
          systemd:
            name: apache2
            state: restarted

    - name: Verify and Restart Nagios
      block:
        - name: Verify Nagios Configuration
          command: /usr/local/nagios/bin/nagios -v /usr/local/nagios/etc/nagios.cfg
        - name: Restart Nagios
          systemd:
            name: nagios
            state: restarted
